body {background-color: #e8e5e5;
    text-align: center;
    ;
}

.name {color: #587558; font-size: 50px;
    font-family: "Times New Roman", serif;
    text-align: center;
    }

.aboutMe{
    text-align: center;
}

.download{
    color: #1c591b; font-size: 20px;
    font-family: 'Times New Roman', serif;
}
.linked{
color: #1c591b; font-size: 20px;
    font-family: 'Times New Roman', serif;
}

.image{
    left: auto;
    right: auto;
}




