
/*---------------------------------body-----------------------*/
body {
    background: linear-gradient(to right, #000000 0%, #282727 50%, #000000 100%);
    text-align: center;
    margin: 100px 350px 200px;
}

#topHeader{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
/*name*/
#name {
    color: #ffffff;
    font-size: 40px;
    font-family: "Roboto Light", serif;
}
#desc{
    color: #ffffff;
    font-size: 10px;
    font-family: "Roboto Light", serif;
    margin-top: 27px;
}

#intro{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

#contactSection{
    display: flex;
    align-items: flex-end;
}

#aboutButton{
    align-content: center;
    color: white;
    cursor: pointer;
    margin: 5px;
    font-family: "Roboto Light", serif;
}

#email{
    color: #ffffff;
    font-family: "Roboto Light", serif;
    margin: 5px 2px 5px;
    cursor: pointer;
}

#linkedInImage, #stravaImage{
    width: 20px;
    height: 20px;
}

#linkedIn, #myStrava{
    width: 20px;
    height: 20px;
    margin: 5px;
    display: inline-block;
}

/*---------------------about--------------------*/
#aboutSection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 20px 20px;
}

#closeAbout{
    background-color: #3a3838;
    color: #ea651b;
    cursor: pointer;
}

#paragraphMe{
    font-size: 20px;
    font-family: "Roboto Light", serif;
    color: #ffffff;
    margin-right: 50px;
    margin-bottom: 10px;
}

#aboutWords{
    text-align: center;
}

#running{
    width: 512px;
    height: 342px;
    border: 4px solid #ea651b;
    align-content: center;
}


/*----------------------portfolio section-----------------------*/

/*div containing the images and links*/
#linksMe{
    margin: 5px 100px 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.port-row{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.port-item {
    width: 200px;
    height: 190px;
    flex: 0 0 calc(15% - 20px);
    box-sizing: border-box;
    margin: 10px;
    position: relative;
}

/*LABEL*/
#triCalc,
#mazeSolver,
#Synthesizer,
#Server,
#Android{
    color: #ea651b;
    font-size: 20px;
    font-family: "Roboto Light", serif;
    text-align: center;
    visibility: hidden;
}

/*link*/
#myExtension,
#myPuzzle,
#mySynthesizer,
#myAndroid,
#myServer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*images*/
#extensionImage,
#puzzleImage,
#synthImage,
#androidImage,
#serverImage {
    width: 200px;
    height: 190px;
    margin: 20px 15px 20px;
    transform-origin: center center;
}


.BW {
    filter: grayscale(100%);
}
